<section class="text-white">
    <div class="container-fluid">
        <div class="row">
                       <div>
                            <img src="../../assets/headerFotoBlur.png" alt="foto1"/>
                            <h2 class="title-bottom-right">Serviços Limpeza</h2>
                            <p class="text-bottom-right">Use a nossa maneira conveniente e útil online
                                para selecionar a equipa ideal para limpar o seu espaço 
                                a um preço adequado!</p>
                       </div>
         </div>
    </div>
    <div class="container">
        <div class="row blockone">
                       <div class="col-lg-6 col-md-6 col-sm-12">
                            <img src="../../assets/introFoto1.png"  width="700" height="450" alt="foto1"/>
                       </div>
                       <div class="col-lg-6 col-md-6 col-sm-12">
                          <img src="../../assets/introFoto2.png"  width="700" height="450" alt="foto2"/>
                       </div>
         </div>
    </div>
</section>

