<div class="displayTable">
  <div class="container-fluid" style="background-image: url(../../assets/backgroundLogin.png);">
      <div class="container authBlock mb-2">
        <div class="formData">
        <h1>Reset Password</h1>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="formGroup">
          <input type="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <button type="submit" class="btn btn-lg btn-primary btn-block mb-2" style="background-color: #8f887c; border: 0px;" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Enviar email</button>
        </div>
      </div>
    </div>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect btn-link" routerLink="/login">Log In</span></span>
      </div>
    </div>
  </div>


 