.container-fluid{
    width:100%;
    height: 90vh;
    position: relative;
    text-align: center;
    color: white;
}
.formData{
    padding-top: 80px;
    margin: auto;
    width: 50%;
}
.redirect{
    color: white;
}