<section class="text-white">
    <div class="container-fluid" style="background-image: url(../../assets/backgroundLogin.png);">
        <div class="container authBlock">
                <div class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" #userEmail required>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" #userPwd required>
                    <div class="checkbox mb-3">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" style="background-color: #FFA07A;" type="submit" value="Log in" (click)="authService.SignUpUser(userEmail.value, userPwd.value)">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                  </div>
             </div>
             <div class="redirectToLogin">
                <span>Already have an account?<span class="redirect" routerLink="/login">Log In</span></span>
              </div>
    </div>
</section>


