<nav class="navbar navbar-expand">
  <div *ngIf="(authService.user$ | async) as user else redirectIntroPage">
    <a class="navbar-brand mb-4" routerLink="/dashboard">
      <img src="../../assets/logo.png" alt="">
    </a>
  </div>

  <ng-template #redirectIntroPage>
    <a class="navbar-brand mb-4" routerLink="/">
      <img src="../../assets/logo.png" alt="">
    </a>
  </ng-template>

  <ul class="navbar-nav ml-auto">
  <div *ngIf="(authService.user$ | async) as user else loading">
    <li *ngIf="user.roles.client" class="nav-item">
      <a class="nav-link text-white" routerLink="/profile">Perfil</a>
    </li>
    <li *ngIf="user.roles.client" class="nav-item">
      <a class="nav-link text-white" (click)="authService.SignOut()">Log out</a>
    </li>
  </div>
  <ng-template #loading>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/login">Torne-se cliente</a>
    </li>
  </ng-template>
</ul>


</nav>