nav{
    width: 100%;
    background-color: #5F9EA0;
    border-bottom: 5px solid #8f887c;
}
.navbar-brand
{
    position: absolute;
    right: 50%;
    display: block;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-brand img {
    display: block;
    width:60px;
    height:50px;
    margin: auto;
}
.navbar-nav {

}
.nav-item{
    float: right;
    margin-left: auto;
}
