

  <section class="text-white">
    <div class="container-fluid" style="background-image: url(../../assets/backgroundLogin.png);">
        <div class="container authBlock">

          <div class="authBlock">
            <h1 class="mb-3">Obrigado por se registar!</h1>
            <div class="formGroup mb-5" *ngIf="authService.user$ | async as user">
              <p class="text-center">Foi enviado um email para <strong>{{user.email}}</strong>.</p>
              <p class="text-center">Por favor verifique o seu email.</p>
            </div>
            
            <!-- Calling SendVerificationMail() method using authService Api -->
            <div class="formGroup">
              <button style="background-color: #8f887c; border: 0px;" type="button" class="btn btnPrimary text-white mb-2" (click)="authService.SendVerificationMail()">
                <i class="fas fa-redo-alt"></i>
                Reenviar confirmação por email
              </button>
            </div>
          </div>
                
             </div>
             <div class="redirectToLogin">
              <span>Retroceder?<span class="redirect btn-link" routerLink="/login"> Sign in</span></span>
            </div>
    </div>
</section>