<!-- Main content -->
<main class="container" role="main">
    <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
            
            <h1 class="h2">Perfil</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.user$ | async as user">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h3>Olá: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <app-list-houses [houses]="houses"></app-list-houses>
    <button class="btn btn-secondary" mat-button value="add" routerLink="/add-house">Adicionar</button>

</main>